/**
 * Main Stylesheet
 * ---
 * 01. Base
 * 02. Utilities
 * 03. Layout
 * 04. Grid
 * 05. Form
 * 06. Button
 * 07. Header Bar
 * 08. Navigation
 * 09. Footer
 * 10. Hero
 * 11. Listings
 * 12. Team
 * 13. Others
 * 14. > 640px (nav-only)
 */

/* --------------------------------------------------------------------------*/
/* 01. Variables                                                             */
/* --------------------------------------------------------------------------*/

:root {

  /* Colors */
  --color-day: white;
  --color-night: #1F1712;
  --color-earth-orange: #FA8232;
  --color-life-green: #41C734;
  --color-dark-blue: #1377d5;
  --color-magma-red: #ff0000;
  --color-gray-1: #333;
  --color-gray-2: #999;
  --color-gray-3: #CCC;
  --color-gray-4: #EEE;
  --color-gray-5: #F9F9F9;
  --color-anchor: #0275d8;
  --color-anchor-hover: #025aa5;

  /* Fonts */
  --font-primary: 'Cinzel', serif;
  --font-secondary: Helvetica, Arial, sans-serif;



  /* Metrics */
  --wrap-lg: 47rem;
  --wrap-md: 30rem;
  --wrap-sm: 22rem;
  --wrap-padding: 1rem;

}

/* --------------------------------------------------------------------------*/
/* 01. Base                                                                  */
/* --------------------------------------------------------------------------*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:focus {
  outline-offset: 0;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1;
  color: var(--color-night);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
    background: var(--color-night);
    color: var(--color-day);
}

::-moz-selection {
    background: var(--color-night);
    color: var(--color-day);
}

/* Drop margin */
h1, h2, h3, p, ul, ol, blockquote, figure {
  margin-top: 0;
  margin-bottom: 1.6666rem;
}

/* Standard leading */
p, ul, ol, blockquote {
  line-height: 1.6666;
}

h1, h2, h3 {
  line-height: 1.2;
}

h1, .h1 {
  font-family: var(--font-secondary);
  font-size: 2.370192597rem;
  font-weight: normal;
}

h2, h3,
.h2, .h3 {
  font-weight: bold;
  margin-bottom:  1.2rem;
}

h2, .h2 {
  font-family: var(--font-primary);
  font-size: 1.77768889rem;
}

h3, .h3 {
  font-family: var(--font-primary);
  font-size: 1.3333rem;
}

strong {
  font-weight: 600;
}

small {
  font-size: 0.75rem;
}

a {
  color: #0275d8;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #025aa5;
  text-decoration: underline;
}

figure {
  margin: 0;
}

code {
  display: inline-block;
  padding: 0.25rem;
  background-color: var(--color-gray-4);
  font-family: Monaco, Consolas, monospace;
  font-size: 0.75rem;
  line-height: 1.2;
}

img {
  vertical-align: top;
}

/* --------------------------------------------------------------------------*/
/* 02. Utilities                                                             */
/* --------------------------------------------------------------------------*/

.clear {
  clear: both;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

/* Anchor marker */
.anchor {
  color: var(--color-gray-3);
  vertical-align: baseline;
}
.anchor:hover, .anchor:active, .anchor:focus {
  text-decoration: none;
}
.anchor::after {
  content: '#';
}

/* Inherit link */
.a-inherit {
  color: inherit;
}
.a-inherit:hover, .a-inherit:active, .a-inherit:focus {
  color: inherit;
}

/* Light link */
.a-light {
  color: white;
}
.a-light:hover, .a-light:active, .a-light:focus {
  color: var(--color-gray-5);
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

/* --------------------------------------------------------------------------*/
/* 03. Layout                                                                */
/* --------------------------------------------------------------------------*/

.wrap {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--wrap-padding);
  padding-right: var(--wrap-padding);
  max-width: var(--wrap-lg);
}

.wrap--md {
  max-width: var(--wrap-md);
}

.wrap--sm {
  max-width: var(--wrap-sm);
}

/* box sticky footer */
/* From https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
.wrap-all {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrap-content {
  flex: 1;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section--alt {
  background-color: var(--color-gray-4);
}

/* --------------------------------------------------------------------------*/
/* 04. Grid                                                                  */
/* Inspired by Flexbox Grid (see citations).                                 */
/* --------------------------------------------------------------------------*/

.row {
  display: flex;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}

.col {
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.grid-col-1of2{
  width: 45%;
  display:inline-block;
}

.col--1 { width: 8.3333%; }
.col--2 { width: 16.6666667%; }
.col--3 { width: 25%; }
.col--4 { width: 33.3333%; }
.col--5 { width: 41.6666667%; }
.col--6 { width: 50%; }
.col--7 { width: 58.3333%; }
.col--8 { width: 66.6666667%; }
.col--9 { width:  75%; }
.col--10 { width: 83.3333%; }
.col--11 { width: 91.6666667%; }
.col--12 { width: 100%; }

/* > 560px (md) */
@media screen and (min-width: 35em) {
  .col--1md { width: 8.3333%; }
  .col--2md { width: 16.6666667%; }
  .col--3md { width: 25%; }
  .col--4md { width: 33.3333%; }
  .col--5md { width: 41.6666667%; }
  .col--6md { width: 50%; }
  .col--7md { width: 58.3333%; }
  .col--8md { width: 66.6666667%; }
  .col--9md { width:  75%; }
  .col--10md { width: 83.3333%; }
  .col--11md { width: 91.6666667%; }
  .col--12md { width: 100%; }
}

/* > 720px (lg) */
@media screen and (min-width: 45em) {
  .col--1lg { width: 8.3333%; }
  .col--2lg { width: 16.6666667%; }
  .col--3lg { width: 25%; }
  .col--4lg { width: 33.3333%; }
  .col--5lg { width: 41.6666667%; }
  .col--6lg { width: 50%; }
  .col--7lg { width: 58.3333%; }
  .col--8lg { width: 66.6666667%; }
  .col--9lg { width:  75%; }
  .col--10lg { width: 83.3333%; }
  .col--11lg { width: 91.6666667%; }
  .col--12lg { width: 100%; }
}

/* --------------------------------------------------------------------------*/
/* 05. Form                                                                  */
/* --------------------------------------------------------------------------*/

label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"], textarea, select {
  display: block;
  border-radius: 0;
  padding: 0.625rem 0.5rem 0.5rem 0.5rem;
  border: solid 3px var(--color-night);
  background-color: white;
  width: 100%;
  -webkit-appearance: none;
}

input:focus, textarea:focus, select:focus {
  outline: solid 3px #FA8232;
}

.form-required::after {
  content: ' *';
  color: red;
}

input.form-error, textarea.form-error, select.form-error {
  border-color: #EB0000;
}

.form-text-error {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  color: #EB0000;
}

.form-group {
  margin-bottom: 1rem;
}

.form-section {
  margin-bottom: 2rem;
}

/* --------------------------------------------------------------------------*/
/* 06. Button                                                                */
/* --------------------------------------------------------------------------*/

/* Regular button */
.btn {
  display: inline-block;
  position: relative;
  padding: 0.625rem 1rem 0.5rem 1rem;
  border-radius: 0;
  border: solid 3px var(--color-night);
  background-color: white;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: inherit;
  cursor: pointer;
  -webkit-appearance: none;
}
.btn:hover, .btn:active, .btn:focus {
  background-color: var(--color-gray-4);
  text-decoration: none;
  color: inherit;
}
.btn:active {
  top: 2px;
  background-color: var(--color-gray-3);
}
.btn:focus {
  outline: 0;
}

.btn--full {
  width: 100%;
}

/* Primary button */
.btn--primary {
  border-color: transparent;
  background-color: #FA8232;
  color: var(--color-night);
}
.btn--primary:hover, .btn--primary:active, .btn--primary:focus {
  background-color: #FF9841;
  color: var(--color-night);
}
.btn--primary:active {
  background-color: #C75A11;
}

/* --------------------------------------------------------------------------*/
/* 07. Header bar                                                            */
/* --------------------------------------------------------------------------*/

.header-bar {
  position: absolute;
  z-index: 10;
  padding-bottom: 4rem;
  width: 100%;
  background: transparent;
}

.logo {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  margin-bottom: 0;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  font-family: var(--font-secondary);
  font-weight: normal;
  line-height: 1;
  color: white;
}
.logo:hover, .logo:active, .logo:focus {
  transform: scale(1.1);
  text-decoration: none;
  color: white;
}
.logo:active {
  top: 2px;
  color: var(--color-gray-2);
}

/* --------------------------------------------------------------------------*/
/* 08. Navigation                                                            */
/* --------------------------------------------------------------------------*/

.nav {
  margin-top: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.nav__list {
  list-style: none;
  padding-left: 0;
  display: flex;
}

/* Menu */
.nav__menu {
  margin-right: 0.25rem;
  padding-left: 0;
  width: 5.5rem;
  list-style: none;
}
.nav__menu:hover {
  background-color: rgba(0,0,0,0.72);
}

/* Menu chevron */
.nav__menu .nav__item:first-child::after {
  content: '';
  display: block;
  position: absolute;
  top: 18px;
  right: 16px;
  border: solid 5px transparent;
  border-top-width: 6px;
  border-top-color: white;
  width: 0;
  height: 0;
}

/* Hide menu items */
.nav__menu .nav__item:not(:first-child) {
  display: none;
}

/* Show menu items on hover */
.nav__menu:hover .nav__item {
  display: block;
}

/* Nav button */
.nav-btn {
  display: inline-block;
  position: relative;
  padding: 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: white;
}
.nav-btn:hover, .nav-btn:active, .nav-btn:focus, .nav-btn.-active {
  text-decoration: none;
  color: white;
}
.nav-btn:active {
  top: 1px;
  color: var(--color-gray-2);
}

/* --------------------------------------------------------------------------*/
/* 09. Footer                                                                */
/* --------------------------------------------------------------------------*/

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--color-night);
  text-align: center;
  color: white;
}

.footer__cta {
  margin-bottom: 2rem;
}

.footer__btn-cta {
  margin-top: 1rem;
}

.footer__copyright {
  margin-bottom: 0;
}

.footer__note {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  color: rgba(255,255,255,0.3);
}

/* --------------------------------------------------------------------------*/
/* 10. Hero                                                                  */
/* --------------------------------------------------------------------------*/

.hero {
  position: relative;
  background-color: var(--color-gray-1);
  background-size: cover;
  height: 50rem;
}

.hero--landing {
  background-image: url(../img/banner.jpg);
  background-position:  center;
}

.hero--join {
  background-image: url(../img/hero-join.jpg);
  background-position: top center;
}

.hero--events {
  background-image: url(../img/banner-events.jpg);
  background-position: top center;
}

.hero--about {
  background-image: url(../img/banner-about.jpg);
  background-position: top center;
}

.hero--contact {
  background-image: url(../img/banner-about.jpg);
  background-position: top center;
}

.hero--login {
  background-image: url(../img/hero-login.jpg);
  background-position: top center;
}

.hero--register {
  background-image: url(../img/hero-login.jpg);
  background-position: top center;
  height: 10.25rem; /* 164px */
}

.hero__wrap {
  height: 100%;
}

.hero__content {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding-bottom: 4rem;
  padding-left: var(--wrap-padding);
  padding-right: var(--wrap-padding);
  width: 100%;
}

.hero__title {
  margin-bottom: 0;
  font-size: 2.370192597rem;
  line-height: 1.3333;
  color: white;
  text-align: center;
}

.hero__tagline {
  margin-bottom: 0;
  font-size: 1.777728889rem;
  line-height: 1.3333;
  color: white;
}

.hero__btn-cta {
  margin-top: 1rem;
}

.hero__citation {
  position: absolute;
  right: var(--wrap-padding);
  bottom: 0;
  margin-bottom: 0.5rem;
  padding: 0.125rem 0.25rem;
  background-color: black;
  font-size: 0.5rem;
  color: rgba(255,255,255,0.5);
  opacity: 0.5;
}

/* --------------------------------------------------------------------------*/
/* 11. Listings                                                              */
/* --------------------------------------------------------------------------*/

.listings {
  padding-left: 0;
  margin-bottom: 1.6666rem;
  list-style: none;
}

.listings__item {
  flex-shrink: 0;
  margin-bottom: 1rem;
}

.listings__item-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding: 1rem;
  height: 100%;
  background-color: var(--color-gray-4);
  line-height: 1.6666;
}

.listings__item-content--alt {
  background-color: white;
}

.listings__item-title {
  display: block;
  font-size: 1.3333rem;
  font-weight: 600;
}

.listings__item-prop {
  display: block;
}
.listings__item-prop:last-of-type {
  margin-bottom: 0.5rem;
}

.listings__item-cta {
  margin-top: auto;
}

/* --------------------------------------------------------------------------*/
/* 12. Team                                                                  */
/* --------------------------------------------------------------------------*/

.team-group {
  margin-bottom: 1.6666rem;
}

.team-item {
  margin-bottom: 1rem;
}

.team-item__content {
  display: flex;
  background-color: white;
  height: 100%;
}
.team-item__content--alt {
  display: flex;
  background-color:var(--color-gray-4);
  height: 100%;
}

.team-item__photo {
  width: 8rem;
  height: auto;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.team-item__info {
  width: 100%;
  padding-right: 1rem;
}

.team-item__info > p {
  margin-bottom: 0.5rem;
}

.team-item__info > p:first-child {
  padding-top: 0.75rem;
}

.team-item__info > p:last-child {
  margin-bottom: 1rem;
}

.team-item__bio {
  font-size: 0.875rem;
}

/* --------------------------------------------------------------------------*/
/* 13. Others                                                                */
/* --------------------------------------------------------------------------*/

.map {
  width: 100%;
}

.grid-list {
  padding-left: 0.5rem;
  list-style-position: inside;
}

.img-item {
  margin-bottom: 0.5rem;
}

/* --------------------------------------------------------------------------*/
/* 14. > 640px (nav-only)                                                    */
/* --------------------------------------------------------------------------*/

@media screen and (min-width: 40em) {

  .nav-btn {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }

  .nav__menu .nav__item:first-child {
    display: none;
  }

  .nav__menu .nav__item:not(:first-child) {
    display: inline-block;
  }

  .nav-btn {
    margin-top: 0.375rem;
    color: rgba(255,255,255,0.5);
  }

  .nav__menu {
    margin-right: 0;
    width: auto;
  }

  .nav__menu:hover {
    background-color: transparent;
  }

  .logo {
    padding-top: 1.5rem;
    font-size: 1.5rem;
  }

}
/*EXTRAS: styling for shop.html and extra changes for about.html---------------------------------------------*/
.hero #aboutHeader{
  color: black;
}

.card{
  width: 360px;
  background: #f1f1f1;
  position: absolute;
}

.product-info{
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  flex-direction:column;
}

.product-info h4{
  margin-top:1rem;
}

.product-info h5{
  margin-top:-0.5rem;
  margin-bottom: 1rem;;
}

.product-info button{
  color: black;
  width: 8rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  padding: 0.5rem;;
}

.category-heading{
  display: flex;
  align-items: center;
}

.category-heading h3{
  margin-top: 4rem;
}

.flex-image{
  display: flex;
  flex-direction: row;
  width: 25rem;
  text-align: center;
  padding-bottom: 2rem;
}

.flex-image img{
  display: flex;
  align-items: center;
  flex: 1;
}
.flex-image h2, .flex-image h4, .flex-image button{
  margin-left: 5rem;


}

.flex-details{
  display: flex;
  flex-direction: column;
  flex: 2;
  flex-shrink: 1;
}
